* {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}

.contador {
  border: 1px solid lightgray;
  border-radius: 40px;
}

button {
  background-color: darkslategray;
  color: white;
  border: 1px solid transparent;
  padding: 15px;
  border-radius: 4px;
  margin: 0% 15% 10% 15%;
}
